@model LaptopStore.Models.Laptop

<h2>Thêm Laptop mới</h2>

<form asp-action="Create">
    <div class="form-group">
        <label>Tên Laptop</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Thương hiệu</label>
        <input asp-for="Brand" class="form-control" />
    </div>
    <div class="form-group">
        <label>Danh mục</label>
        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Lưu sản phẩm</button>
</form>

<a asp-action="Index">Quay lại danh sách</a>